<input type="button" class="btn btn-primary" value="search" (click)="getConcert()">

<div *ngIf='concerts.resultsPage.results.event.id == 3037536 '></div>

<table class="table">
  <div *ngFor="let element of concerts.resultsPage.results.event">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Nom du Concert</th>
    <th scope="col">Type</th>
    <th scope="col">Date</th>
    <th scope="col">Heure</th>
    <th scope="col">URL</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>{{element.displayName}}</th>
    <td>{{element.type}}</td>
    <td>{{element.start.date}}</td>
    <td>{{element.start.time}}</td>
    <td><a href=" {{element.uri}}">Aller au Concert</a></td>
  </tr>
  </tbody>
  </div>
</table>


